.foot-1 {
    background-color: #211717; 
    padding: 40px 0;
    margin-top: 50px;
    border-top: 1px solid #ddd;
}

.tit-f {
    color: #888888;
    font-weight: bold;
    font-size: 1.5rem;
}

.tit-f2 {
    color: #b04b39; 
    font-weight: bold;
    font-size: 0.9rem;
    margin-bottom: 10px;
}

.txt-f {
    color: #9f9f9f;
    font-size: 0.9rem;
    line-height: 1.6;
}

.link-f {
    color: #555;
    text-decoration: none;
}

.link-f:hover {
    color: #b04b39;
    text-decoration: underline;
}